<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listado de videos</title>
    <object th:include="fragments/fragmentos :: head" th:remove="tag"></object>
</head>
<body>
<div class="container-fluid">
    <div th:replace="fragments/fragmentos :: menu"></div>
    Resultado de formulario
    <div th:replace="fragments/MigasDePan :: miguitas"></div>
<p th:text="${video.nombre}"></p><p th:text="${video.codigoYoutube}"></p>
</div>
<object th:include="fragments/fragmentos :: jquery" th:remove="tag"></object>
</body>
</html>