<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listado de videos</title>
    <object th:include="fragments/fragmentos :: head" th:remove="tag"></object>
    <object th:include="fragments/fragmentos :: DataTableCSS" th:remove="tag"></object>
</head>
<body>
<div class="container-fluid">
    <div th:replace="fragments/fragmentos :: menu"></div>
Página con listado de videos

<div th:replace="fragments/MigasDePan :: miguitas"></div>
<table id="listaVideos" class="display">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Youtube</th>
        <th>bpm</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="video: ${videos}">
        <td th:text="${video.nombre}">Nombre</td>
        <td th:text="${video.descripcion}">Descripción</td>
        <td th:text="${video.codigoYoutube}">iqeor65ka</td>
        <td th:text="${video.bpm}">120</td>
    </tr>
    </tbody>
</table>

    <table id="listaVideos2" class="display">
        <thead>
        <tr>
            <th>nombre</th>
            <th>descripcion</th>
            <th>codigoYoutube</th>
            <th>bpm</th>
        </tr>
        </thead>
    </table>
</div>
<object th:include="fragments/fragmentos :: jquery" th:remove="tag"></object>
<object th:include="fragments/fragmentos :: scriptsDataTable" th:remove="tag"></object>

<script th:src="@{/js/videos/listavideos.js}"></script>
</body>
</html>