<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listado de videos</title>
    <object th:include="fragments/fragmentos :: head" th:remove="tag"></object>
</head>
<body>
<div class="container-fluid">
    <div th:replace="fragments/fragmentos :: menu"></div>
Página con listado de videos

<div th:replace="fragments/MigasDePan :: miguitas"></div>
<table>
    <thead>
    <tr>
        <th th:text="uno">Name</th>
        <th th:text="dos">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="video: ${videos}">
        <td th:text="${video.descripcion}">Oranges</td>
        <td th:text="${video.codigoYoutube}">0.99</td>
    </tr>
    </tbody>
</table>
</div>
<object th:include="fragments/fragmentos :: jquery" th:remove="tag"></object>
</body>
</html>